.container{
	height: 1200px;
	width: 704px;
	margin: auto;
	border:1px solid;
	position: relative;
	top: 0;
	left: 0;
	font-family: tahoma;
}
.principal {
	 margin: auto;
	 height:211px; 
	 width: 211px;
	 border-radius: 100%;
	 position: relative;
	 left:246px;  
	 top: 20px;

}
p{
	margin: auto;
	font-size: 22px;
	font-family: tahoma;
	text-align: center;
	width: 400px;
}
h1{
	text-align: center;
}
h2{
	margin:20px;
}
img {
	height: 100px;
	width: 200px;
	display: inline-block;
	margin: 10px;
	position: relative;
	left:15px;
}
.habil1 {
	height: 10px;
	width: 500px;
	background-color: #A5A4A4;
	color: white;
	margin-left: 60px;
	margin-top: 20px;
	padding: 20px;
}
.habil2 {
	height: 10px;
	width: 300px;
	background-color: #A5A4A4;
	color: white;
	margin-left: 60px;
	margin-top: 20px;
	padding: 20px;
}
.habil3 {
	height: 10px;
	width: 100px;
	background-color: #A5A4A4;
	color: white;
	margin-left: 60px;
	margin-top: 20px;
	padding: 20px;
}
